  * {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
    margin-bottom: 0%;
    /* background-color: #eee;     */
  }

  a {
    text-decoration: none;
    color: black;
  }

  ul li {
    list-style: none;
  }

  .header {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0%;
    z-index: 1;
    background-color: #ddd;
  }

  .menu {
    display: flex;
  }

  .menu li {
    margin: 15px;
    font-weight: bold;
  }

  .menu li a:active {
    color: black;
  }

  .menu li a:visited {
      color: black;
  }

  .logo {
    font-weight: bold;
    font-style: italic;
  }

  .logo img {
    height: 50px;
    width: auto;
  }

  .containerCarrousel {
    height: 100vh;
    overflow: hidden;
  }

  .itemCarrousel {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 20px;
    padding-top: 80px;
  }

  .imgCarrousel {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .imgCarrousel img {
    height: 100%;
    width: auto;
  }

  .navCarrousel {
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
  }

  a i {
    font-size: 36px;
    font-weight: bold;
    color: black;
  }

  a i:active {
    color: black;
  }

  a i:visited {
    color: black;
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: violet; */
  }

  .title,
  .servTitle {
    margin-top: 80px;
    padding: 20px;
    font-size: 48px;
    font-weight: bold;
  }

  .picture img {
    height: 500px;
    width: auto;
    border-radius: 10px;
  }

  .description {
    max-width: 60%;
    padding: 20px;
    text-align: center;
    font-size: 24px;
  }

  .info img {
    height: 300px;
    width: 300px;
    margin: 10px;
  }

  .info {
    max-width: 320px;
  }

  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
  }

.servContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    max-width: 1300px;
}

.servTitle {
    margin-bottom: 20px;
}

.infoTitle {
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
}

.text {
    text-align: center;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 30px;
    background-color: #ddd;
}

#contact {
    display: flex;
}

#contact li {
    margin: 0px 50px;
}

#contact li a i {
  font-size: 20px;
}